@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin Condensed", sans-serif;
}

body{
    display: grid;
    grid-template-areas:
    'navegacion navegacion'
    'buscador comprar'
    'contenido contenido'
    'footer footer';
    height: 100vh;
    grid-template-rows: 15% 15% auto 12%;
    grid-template-columns: 85% 15%;
    color: rgb(44, 44, 44);
}

/*SECCION DE MENU DE NAVEGACION*/

.navbar{
    grid-area: navegacion;
    padding: 0.8rem 1rem;
    
    border: 2px solid #ff9129;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo > img{
    width: 7rem;
}

.menu-burger{
    font-size: 20px;
    color: rgb(44, 44, 44);
}

menu {
    display: none;
}

/*SECCION DE FILTROS DE BUSQUEDA*/


.search-box{
    grid-area: buscador;
    background-color: #ff84003a;
    border: 2px solid #ff9129;
    text-align: center;
    padding: 0.5rem;
}

input{
    width: 90%;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.5rem 0rem 0rem;
    border: 1px solid #FF8400;
}

fieldset{
    border: none;
}
.contenedor-buscar > input{
    width: 80%;
}

label{
    font-size: 1rem;
    font-weight: 600;
}

/*SECCION DE COMPRAR*/
.comprar{
    grid-template-areas: comprar;
    background-color: #ff84003a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #4d4d4d;

    border: 2px solid #ff9129;
}

main{
    grid-area: contenido;

    border: 2px solid #ff9129;
}

footer{
    grid-area: footer;

    border: 2px solid #ff9129;
}