@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin Condensed", sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        'navegacion'
        'buscador'
        'contenido'
        'footer';
    height: 100vh;
    grid-template-rows: 10% 10% 62% 18%;
    color: rgb(44, 44, 44);
}

.navbar {
    grid-area: navegacion;
    background-color: #f3f3f3;
    padding: 1rem
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>img {
    width: 7rem;
}

.iconos-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    width: 20%;
}

.iconos-nav>i {
    padding: 0.5rem;
}

.iconos-nav>.fa-cart-shopping {
    animation: jello-horizontal 2s infinite both;
}

menu {
    display: none;
}

.buscar {
    grid-area: buscador;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff5b9;
}

.search-box {
    width: 85%;
    text-align: center;
    padding: 0.5rem;
}

input {
    width: 90%;
    border-radius: 5px;
    padding: 0.3rem;
    margin: 0.5rem 0rem 0rem;
    border: none;
}

fieldset {
    border: none;
}

fieldset>i {
    animation: heartbeat 2s linear infinite both;
}

label {
    font-size: 1rem;
    font-weight: 600;
}

main {
    grid-area: contenido;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-image: url(../img/bg.png);
}

.galeria {
    height: 100%;
}

.titulo-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.titulo-contenedor>h2 {
    font-weight: 900;
}

.titulo-contenedor>img {
    width: 3rem;
}

.sushi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vegetariano {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #f3f3f3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    width: auto;
    border: 1px solid #adadad;
    animation: shadow-inset-lr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

.img-card>img {
    width: 12rem;
    height: 10rem;
}

.text-card {
    padding: 0.1rem;
    color: #474747;
    text-align: center;
}

.text-card>h3 {
    padding-top: 0.1rem;
    color: #9e4c00;
}

.text-card>p {
    padding: 0.3rem;
}

.contenedor-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 23rem;
    overflow-y: scroll;
    margin-left: 1rem;
}

::-webkit-scrollbar {
    display: none;
}

button {
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    border: none;
    background-color: #e29b00;
    color: #ffffff;
    border-radius: 10px;
}

footer {
    grid-area: footer;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto {
    text-align: center;
    padding: 0.5rem;
}

.iconos-footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.iconos-footer>a {
    font-size: 1.2rem;
    padding: 0.2rem;
    text-decoration: none;
    color: #474747;
}

@media (width >=576px) {
    body {
        display: grid;
        grid-template-areas:
            'navegacion navegacion'
            'buscador contenido'
            'footer footer';
        grid-template-columns: 25% 75%;
        grid-template-rows: 10% 74% 16%;
        height: 100vh;
    }

    .navbar {
        background-color: #fff5b9;
    }

    .buscar {
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .search-box {
        padding: 0rem;
        margin: 2rem;
    }

    fieldset {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 95%;
        border-radius: 5px;
        padding: 0.3rem;
        margin: 0.5rem 0.5rem 0.5rem 0rem;
        border: 1px solid #474747;
    }

    .img-card>img {
        width: 16rem;
        height: 12rem;
    }

    .card {
        margin: 0.8rem;
        animation: heartbeat 3s ease-in-out infinite both;
    }

    footer {
        background-color: #fff5b9;
    }

    .info-footer {
        display: flex;
        align-items: baseline;
        width: 70%;
    }

    .contacto {
        width: 100%;
    }

    .rrss {
        width: 100%;
        text-align: center;
    }
}

@media (width >=992px) {
    body {
        display: grid;
        grid-template-areas:
            'navegacion buscador'
            'navegacion contenido'
            'footer contenido';
        grid-template-columns: 20% 80%;
        grid-template-rows: 12% 58% 30%;
    }

    .navbar {
        background-color: #f3f3f3;
    }

    .iconos-nav>.fa-bars {
        display: none;
    }

    .iconos-nav>i {
        padding: 0.5rem;
        cursor: pointer;
    }

    .iconos-nav>i:hover {
        color: #e29b00;
        font-size: 2rem;
        transition-duration: 0.3s;
    }

    menu {
        display: contents;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    .buscar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff5b9;
    }

    fieldset>i:hover {
        color: #e29b00;
        font-size: 2rem;
        transition-duration: 0.3s;
    }

    .iconos-nav {
        color: #474747;
    }

    .titulo-nav>a>img {
        width: 4rem;
    }

    .titulo-nav>a>img:hover {
        animation: rotate-scale-up 0.65s linear both;
    }

    .titulo-nav>a {
        display: flex;
        justify-content: center;
        padding: 1rem;
        text-decoration: none;
        color: #474747;
        font-size: 1.2rem;
    }

    .titulo-nav>a>p {
        display: none;
    }

    main {
        background-image: url(../img/bg_1.png);
    }

    .titulo-contenedor {
        animation: tracking-in-contract 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite both;
    }

    .contenedor-cards {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 0%;
    }

    .card {
        margin: 1rem 2rem;
        animation: none;
    }

    .card:hover {
        animation: bg-color 3s linear;
        filter: saturate(180%);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    .img-card>img {
        width: 20rem;
        height: 15rem;

    }

    button:hover {
        animation: heartbeat 2s ease-in-out infinite both;
        font-size: 1.21rem;
    }

    footer {
        padding: 0.5rem;
        background-color: #f3f3f3;

    }

    footer>p {
        text-align: center;
        padding: 0.5rem;
    }

    .iconos-footer {
        font-size: 1.5rem;
    }

    .iconos-footer>a {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .iconos-footer>a:hover {
        color: #e29b00;
        font-size: 2rem;
        transition-duration: 0.3s;
    }

    .info-footer {
        display: flex;
        flex-direction: column;
    }
}

@keyframes rotate-scale-up {
    0% {
        transform: scale(1) rotateZ(0);
    }

    50% {
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

@keyframes shadow-inset-lr {
    0% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: inset -6px 0 14px -6px rgba(0, 0, 0, 0.5), inset 6px 0 14px -6px rgba(0, 0, 0, 0.5);
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes bg-color {
    0% {
        background-color: #fff2d6b6;
    }

    50% {
        background-color: #fff2d6b6;
    }

    100% {
        background-color: #fff2d6b6;
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}